footer{
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}
footer .contenedor > div{
    color: white;
    padding: 0px 20px;
    font-size: 14px;
}
@media only screen and (min-width: 760px){
    footer .contenedor > div{
        width: 29%;
        float: left;
    }
}
footer h3{
    color: white;
    text-transform: uppercase;
    font-family: Oswald, SansSerif;
    margin-bottom: 20px;
}
footer h3 span{
    color: #fe4918;
}
/*ultimos-tweets*/
footer .ultimos-tweets li{
    margin-bottom: 10px;
}
footer .ultimos-tweets ul{
    margin-left: 0px;
    padding-left: 0px;
}
/*ultimos-tweets*/
/*menu*/
footer nav.redes-sociales{
    text-align: left;
}
/*menu*/
p.copyright{
    background-color: #2e2e2e;
    color:white;
    padding:10px 0;
    margin: 20px 0 0 0;
    text-align: center;

}
