/*GLOBAL*/
html{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
}
*:before, *:after{
    box-sizing: inherit;
}
body{
     background-color: #f2f2f2;
     font-family: Candara;
}
h1.nombre-sitio{
    font-family: "Palatino Linotype";
    font-size:  7vw;
    text-transform: uppercase;
}
h2{
  font-family: Oswald, SansSerif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
h2::after{
  content: '';
  margin: 0 auto;
  background-image: url(../imagenes/separador.png);
  height: 30px;
  width: 100px;
  display: block;
}
h3{
    font-family: 'Oswald';
    font-size: 16px;
    color: #fe4918;
    text-transform: uppercase;
}
/*GLOBAL*/
 /**clearfix**/
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
/**clearfix**/

/** cabecera **/
div.hero{
    background-image: url(../imagenes/merida-de-noche.jpg);
    height: 80vh;
    background-position: top center;
    background-size: cover;
}
/*movil*/
div.contenido-header {
    padding-top: 10px;
}
/*desktop*/
@media only screen and (min-width: 760px) {
    div.contenido-header{
        padding-top: 40px;
    }
}
/** cabecera **/

/**navegador-redes**/
nav.redes-sociales{
    text-align: center;
}
nav.redes-sociales a{
    margin-right: 20px;
}
nav.redes-sociales a:last-child{
    margin-right: 0;
}
/**navegador-redes**/

/**icons**/
#facebook:hover{
    content: url("../imagenes/fa-facebook-square_color.png");
}
#instagram:hover{
    content: url("../imagenes/fa-instagram_color.png");
}
#twitter:hover{
    content: url("../imagenes/fa-twitter_color.png");
}
/**icons**/

/*informacion-evento*/
div.informacion-evento{
    text-align: center;
    color: #ffffff;
}
@media only screen and (min-width:760px) {
    div.informacion-evento{
        width:70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}
div.informacion-evento p{
    margin-left: 0;
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}
/*informacion-evento*/

/*inf-evento*/
p.fecha{
    float: left;
}
p.lugar{
    float: right;
}
/*inf-evento*/

/*nombre-lugar*/
p.slogan{
    text-transform: none !important;
    font-size: 30px !important;
}
p.slogan span{
    font-weight: bold;
}
@media only screen and (min-width: 760px){
    h1.nombre-sitio{
        line-height: 0;
    }
}
/*nombre-lugar*/

/*barra*/
div.barra{
    background-color: #353535;
    padding: 20px 0px;
}
/*barra*/
/*contenedor*/
.contenedor{
    width: 95%;
    margin: 0 auto;
}
@media only screen and (min-width: 760px) {
    .contenedor{
        width: 85%;
    }
}
/*contenedor*/
/*logo*/
div.logo{
    width: 80%;
    float: left;
}
div.logo img{
    width: 100%;
}
@media only screen and (min-width: 760px){
    div.logo{
        width: 33%;
    }
}
/*logo*/
/*menu-movil*/
div.menu-movil{
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}
div.menu-movil:hover{
    cursor: pointer;
}
div.menu-movil span{
    height: 8px;
    margin-bottom: 10px;
    background-color: white;
    display: block;
}
@media only screen and (min-width: 760px){
    div.menu-movil{
        display: none;
    }
}
/*menu-movil*/
/*navegacion-principal*/
nav.navegacion-principal{
    display: none;
}
nav.navegacion-principal a{
    font-family: "Oswald";
    color: white;
    font-size: 1.4em;
    text-transform: uppercase;
    text-decoration: none;
    transition: alt .4s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
nav.navegacion-principal a:hover{
    background-color: #fe4918;
}
nav.navegacion-principal a:last-child{
    border:2px solid #fe4918;
    color: #fe4918;
}
nav.navegacion-principal a:last-child:hover{
    color: white;
}
@media only screen and (min-width: 760px){
    nav.navegacion-principal{
        width: 66%;
        float: right;
        text-align: right;
        display: block;
    }
    nav.navegacion-principal a{
        padding: 10px 10px;
        display: inline-block;
        width: auto;
        text-align: center;
        margin: 5px 10px 0 0;
    }
}
/*navegacion-principal*/



section.seccion{
  padding: 30px 0;

}

.seccion p{
  font-size: 1.2em;
  text-align: center;
}



/*contador*/

.parallax::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  filter: brightness(.8);
}

div.contador{
  position: relative;
  height: auto;
}

div.contador::before{
  background-image: url(../img/bg-resumen2.gif);
  content: '';
}

ul{
  list-style-type: none;
}

ul.resumen-evento{
  position: relative;
  padding: 120px 0;
}

ul.resumen-evento li{
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Palatino Linotype";
  font-size: 24px;
}

@media only screen and (min-width:768px) {
  ul.resumen-evento li{
    width: 25%;
  }
}

p.numero{
  color: #fe4918;
  font-size: 4em;
  display: block;
  margin: 0 0 10px 0;
}

/**Tabla de Precios**/
.button{
  background-color: #fe4918;
  padding: 10px 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lucida Sans Unicode";
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
  border: 2px solid #fe4918;
}

.button.hollow:hover{
  background-color: white;
  color: #fe4918;
}

.button:hover{
  background-color: #e33000;
}

.button.transparente{
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button.transparente:hover{
  /*border-color: #fe4918;*/
  background-color: #fe4918;
}

ul.lista-precios > li{
  padding: 10px;
}
@media only screen and (min-width:768px){
  ul.lista-precios > li{
    float: left;
    width: 31%;
  }
}

div.tabla-precio{
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
  transition: all .3s ease;
}

div.tabla-precio:hover{
  transform: scale(1.1);
  border: 1px solid #fe4918;
  box-shadow: 0px 0px 50px #666;
}

div.tabla-precio ul li{
  font-family: "Lucida Sans Unicode";
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #868686;
  line-height: 26px;
}

/**div.tabla-precio ul li::before{
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 20px;
  color: green;
  -webkit-font-smoothing: antialiased;
  content: &#10004;
}**/

div.tabla-precio h3{
  font-family: 'Oswald';
  font-size: 16px;
  color: #fe4918;
  text-transform: uppercase;
}

div.tabla-precio p.numero{
  color: #000000;
  margin: 20px 0;
}

/**MAPA**/
div.mapa{
  height: 420px;
  background-color: white;
}

/**menu-movil
div.menu-movil{
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}

div.menu-movil:hover{
  cursor: pointer;
}

@media only screen and(min-width: 768px){
  div.menu-movil{
    display: none;
  }
}

div.menu-movil span{
  height: 8px;
  margin-bottom: 6px;
  background-color: white;
  display: block;
}
**/

/** Invitados **/

ul.lista-invitados li {
    padding: 10px;
    float: left;
}

@media only screen and (min-width:480px) {
    ul.lista-invitados li {
        width: 40%;
    }
}

@media only screen and (min-width: 768px) {
    ul.lista-invitados li{
        width: 31%;
    }
}

div.invitado {
    position: relative;
    overflow: hidden;
}

div.invitado img {
    max-width: 100%;
    //filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}

div.invitado:hover img {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

div.invitado p{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #fe4918;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
}

div.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}
