html{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
}
 *:before, *:after{
    box-sizing: inherit;
}
 body{
     background-color: #f2f2f2;
     font-family: Candara;
 }
h1.nombre-sitio{
    font-family: "Palatino Linotype";
    font-size:  7vw;
    text-transform: uppercase;
}

/**clearfix**/
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
/**clearfix**/

/** cabecera **/
div.hero{
    background-image: url(../imagenes/merida-de-noche.jpg);
    height: 80vh;

    background-position: top center;
    background-size: cover;
}
/*movil*/
div.contenido-header {
    padding-top: 10px;
}
/*desktop*/
@media only screen and (min-width: 950px) {
    div.contenido-header{
        padding-top: 40px;
    }
}
/** cabecera **/

/**navegador-redes**/
nav.redes-sociales{
    text-align: center;
}
nav.redes-sociales a{
    margin-right: 20px;
}
nav.redes-sociales a:last-child{
    margin-right: 0;
}
/**navegador-redes**/

/**icons**/
#facebook:hover{
    content: url("../imagenes/fa-facebook-square_color.png");
}
#instagram:hover{
    content: url("../imagenes/fa-instagram_color.png");
}
#twitter:hover{
    content: url("../imagenes/fa-twitter_color.png");
}
/**icons**/

/*informacion-evento*/
div.informacion-evento{
    text-align: center;
    color: #ffffff;
}
@media only screen and (min-width:950px) {
    div.informacion-evento{
        width:70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}
div.informacion-evento p{
    margin-left: 0;
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}
/*informacion-evento*/

/*inf-evento*/
p.fecha{
    float: left;
}
p.lugar{
    float: right;
}
/*inf-evento*/

/*nombre-lugar*/
p.slogan{
    text-transform: none !important;
    font-size: 30px !important;
}
p.slogan span{
    font-weight: bold;
}
@media only screen and (min-width:950px) {
    h1.nombre-sitio{
        margin: 0;
    }
}
/*nombre-lugar*/

/**barra**/
.contenedor{
    width: 98%;
    margin: 0 auto;
}
@media only screen and(min-width: 950px){
    .contenedor{
        width: 95%;
    }
}
div.barra{
    background-color: #353535;
    padding: 20px 0;
}
div.logo{
    width:20%;
    float:left;
}
div.logo img{
    width: 5%;
    float: left;
}
@media only screen and(min-width: 950px){
    div.logo{
        width: 5%;
        float: left;
    }
}
/**barra**/

/**navegacion principal**/
nav.navegacion-principal{
    text-align: center;
    align-content: center;
}
nav.navegacion-principal a{
    font-family: "Lucida Sans Unicode";
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .7s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
@media only screen and(min-width: 950px){
    nav.navegacion-principal{
        width: 57%;
        float: right;
        display: block;
        width: auto;
        display: inline;
        text-align: right;
        margin: 0px;
    }
    nav.navegacion-principal a{
        margin-right: 10px;
        padding: 30px 20px;
        width: auto;
        display: inline;
        text-align: right;
        margin: 0px;
    }
}

nav.navegacion-principal a:hover{
    background-color: #fe4918;
}

nav.navegacion-principal a:last-child{
    border: 2px solid #fe4918;
    color: #fe4918;
}

nav.navegacion-principal a:last-child:hover{
    color: white;
}
/**navegacion principal**/

/** Menu movil **/

div.menu-movil{
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;

}

div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display: none;
}

@media only screen and(min-width: 760px) {
    div.menu-movil{
        display: none;
    }

    div.menu-movil span{
        height: 8px;
        margin-bottom: 6px;
        background-color: white;
        display: block!important;
    }
}

div.menu-movil:hover{
    cursor: pointer;
}