div .testimoniales{
    padding-bottom: 20px;
}
div .testimonial{
    padding: 5px;
}
@media only screen and (min-width: 760px){
    div .testimonial{
        float: left;
        width: 30%;
    }
}

blockquote{
    background-color: white;
    border: 1px solid gray;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}

blockquote p{
    text-align: justify!important;
    font-size: 14px!important;
    font-family: "PT sans", SansSerif;
    padding: 0 20px 0 65px;
}
blockquote p::before{
    content: '\201c';
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 100px;
    padding: 0;
    line-height: 1;
    color:#fe4918;
}
footer.info-testimonial{
    padding: 0;
    background-color: transparent;
}
footer.info-testimonial img{
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 20px;
}
footer.info-testimonial cite{
    text-align: left;
    color: #fe4918;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    width: 66%;
    float: right;
    font-weight: bold;
    font-style: normal;
}

footer.info-testimonial cite span{
    text-transform: none;
    display: block;
    color: black;
    margin-top: 5px;
}